# output image name, usually same as repo name, change as needed
IMAGE_NAME=bluefin-base-niri

# Make this the same as your github username/organisation
REPO_ORGANIZATION="Bruno-SouzaR"

IMAGE_DESC="Bluefin DX com Niri, Ghostty, Quickshell e Noctalia v5"
IMAGE_KEYWORDS="bootc,bluefin,niri,wayland"